<div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
  <%= image_tag 'me.JPG', alt: "about photo", class: 'about', style: 'width: 100vw;height:  100%;', id: "about"%>
  <%# <div class="row my-5">
    <div class="col-12"> %>
  <%# <div class="container"> %>
  <div class="d-flex justify-content-center text-white">
    <h2>About</h2>
    <p id="about-text">As a frontend web developer, I have a passion for crafting exceptional user experiences through thoughtful design and clean code. I am particularly drawn to the creative aspects of web development, and enjoy exploring the intersection of design and technology to create compelling visual experiences.
      <br>
      <br>
      I have a deep appreciation for branding and the important role it plays in the success of a business. I believe that a strong visual identity is critical to building trust with customers and conveying a company's values and mission. In my work as a developer, I strive to bring these principles to life through my designs and code.
      <br>
      <br>
      Beyond my work as a developer, I am also an avid photographer. I find that my experience behind the lens has given me a unique perspective on design, composition, and the art of storytelling. I bring this creative eye to every project I work on, whether I am building a new site from scratch or collaborating with a team to enhance an existing one.
      <br>
      <br>
      Ultimately, my goal is to create websites that not only look beautiful, but also function flawlessly and provide an intuitive user experience.</p>
  </div>
</div>
</div>
</div>
</div>
