<nav class="navbar navbar-expand-lg navbar-transparent" id="myNavbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Work</a>
      </li>
    </ul>
    <span id="navbar-myName">
      Emika Sangu / Frontend Developer
    </span>
  </div>
</nav>
<div class="row justify-content-center banner", id="navbar-top">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'blurhome.jpg', alt: "home photo", class: 'home', style: 'width: 100vw;height:  100%;' %>
    <div class="d-flex justify-content-between photo-title">
      <%# <div class="text-white title-main" id="center">Emika Sangu</div> %>
      <%# <div class="title-link" id="topleft"><%= link_to 'About', '#about', class: 'text-white  text-decoration-none navigation-button-link'%>
    </div>
    <%# <%= link_to 'About', 'partials/about.html', :relative => true %>
  </div>
</div>
</div>
