#about {
  position: relative;
}

// #about {
//   position: absolute;
//   top: 873px;
//   left: 361px;
//   font-size: 18px;
// }

#about-text {
  position: absolute;
  top: 1024px;
  left: 822px;
  font-size: 13px;
  padding-right: 60px;
  text-shadow: 5px 5px 6px black(0 0 0 / 30%);
}

#about-header {
  position: absolute;
  top: 1010px;
  left: 275px;
  font-size: 80px;
  padding-right: 60px;
  text-shadow: 5px 5px 6px black(0 0 0 / 30%);
}
