.banner {
  height: 100vh;
}

.home{
  position: relative;
}

#topleft {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 18px;
}

#center {
  position: absolute;
  top: 50px;
  width: 0%;
  text-align: center;
  font-size: 18px;
}
